<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BE.Properties.Settings.TamizajeSanBartolomeConnectionString"
            connectionString="Data Source=WIN-8QO6SORRF20\MSSQL2012EXPRESS;Initial Catalog=TamizajeSanBartolome;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BE.Properties.Settings.LifeCycleConnectionString"
            connectionString="Data Source=WIN7-PC\SQLEXPRESS2012;Initial Catalog=LifeCycle;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BE.Properties.Settings.TamizajeSanBartolomeConnectionString1"
            connectionString="Data Source=WIN7-PC\SQLEXPRESS2012;Initial Catalog=TamizajeSanBartolome;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BE.Properties.Settings.TamiLifeConnectionString" connectionString="Data Source=WIN7-PC\SQLEXPRESS2012;Initial Catalog=TamiLife;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>